.mainlocales{max-width: 100vw;
    h1{@extend .titulos;padding: 25px;
        span{}
    }
    .tarjetas{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; max-width: 100vw;gap:30px;
        .tarjetalocal{width: 216px; background-color: map-get($map:$pallete, $key:secundario ); padding:0 0 15px 0 ; margin: 20px 0;
            img{width: 100%; height: 216px;}
            .desctarj{background-color: map-get($map:$pallete, $key: secundario); align-items: center;padding: 5px 0;
                .titulotarjeta{@extend .title;}
                .desctarjeta{ @extend .subtitle;}
            }
        }
    }
}