.botonindex{
    border: 1px solid ;
    border-color: map-get($map:$pallete, $key: primario);
    background-color: map-get($map: $pallete, $key:terciario );
    padding: 5px 20px;
    a{color: map-get($map:$pallete, $key: primario); text-decoration: none;}
}